table {
top: 50%
border-collapse: collapse;	
margin: auto;
font-family: 'Courier New';
border: 5px solid: green;
font-size: 30px; }
th { 
background-color: lightgreen; }
body {
top: 50%;
margin: auto;
background-image: url('https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474070FOf/anh-nen-powerpoint-hoc-tap-cute_093919431.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed; }
td {
background-color: lightyellow; }
h1 { font-family: 'Courier New';
     text-align: center;
     color: green;
     font-size: 50px;	 }
h3 { font-family: 'Courier New';
     text-align: center; }